include /navigation.pug
include /profile.pug
- var company = "Grand Bali Luxe Tours"
- var description = "Don’t settle an ordinary vacation. Escape from your daily life and indulge in the ultimate luxury and extraordinary experience with our private guides."
- var baseUrl = "https://travel.mogin.net"
- var primaryColor = "#DFE0DF"

doctype html
html(lang="en")
  head
    block title
    - var headerTitle = title ? `${company} :: ${title}` : company
    title #{headerTitle}
    meta(charset="utf-8")/
    meta(http-equiv="X-UA-Compatible" content="IE=edge")/
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    include /meta.pug
    link(rel="stylesheet" href="/css/main.css")/
    link(rel="preconnect" href="https://fonts.googleapis.com")
    link(rel="preconnect" href="https://fonts.gstatic.com" crossorigin)
    link(href="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Open+Sans&display=swap" rel="stylesheet")
    meta(property="og:url" content="https://mogin.net")/
    meta(property="og:title" content=`${headerTitle}`)/
    meta(property="og:description" content="Luxury Travels in Bali")/
    meta(property="og:image" content="https://travel.mogin.net/img/banner_300_300.jpg")/
    meta(property="og:type" content="website")/
    meta(property="og:locale" content="en_US")/
    noscript: link(rel="stylesheet" href="/css/noscript.css")/
  body
    // Wrapper 
    .page-container
      // Navigation 
      nav.intro
        ul
          each nav in navs 
            li
              a(href=title ? `/#${nav.href}` : `#${nav.href}` data-tab-target=`#${nav.href}`)=nav.title

      // Main Content 
      .tab-content
        block content

      // Footer 
      footer.intro
        p.center
          span#copyright &copy; #{new Date().getFullYear() === 2023 ? new Date().getFullYear() : `2021 - ${new Date().getFullYear()}`}
          span &nbsp;#{company}
          span.primary.text-color &nbsp;&#9670;&nbsp;
          a(href="/contact.html").link Contact
      .decoration.top-left.pulse
        include ./flower.pug
      .decoration.bottom-right.pulse
        include ./flower.pug
    include ./scripts.pug