link(rel="icon" type="image/png" href=`${baseUrl}/img/favicon.png`)/
link(rel="mask-icon" type="image/svg+xml" href=`${baseUrl}/img/maskicon.svg` color=`${primaryColor}`)/
link(rel="apple-touch-icon" size="180x180" href=`${baseUrl}/img/banner_180_180.png`)/
meta(property="og:url" content=`${baseUrl}`)/
meta(property="og:title" content=`${headerTitle}`)/
meta(property="og:description" content=`${description}`)/
meta(property="og:image" content=`${baseUrl}/img/banner_1200_630.jpg`)/
meta(property="og:type" content="website")/
meta(property="og:locale" content="en_US")/
meta(name="msapplication-square70x70logo" content=`${baseUrl}/img/banner_70_70.png`)/
meta(name="msapplication-square150x150logo" content=`${baseUrl}/img/banner_150_150.png`)/
meta(name="msapplication-square310x310logo" content=`${baseUrl}/img/banner_310_310.png`)/
meta(name="msapplication-wide310x150logo" content=`${baseUrl}/img/banner_310_150.png`)/
meta(name="msapplication-TileColor" content=`${primaryColor}`)/
